body{
    display: inline-block;
    padding: 0;
    background-color: #FEFAE0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.canvas{
    background-color: white;
    border: 1px solid #222;
}

.gauge{
  position:relative;
  background:var(--gauge-bg);
  border:.05em solid #222;
  border-radius:50%;
  min-width:200px;
  min-height:200px;
  font-weight:700;
  font-size:34px}
  
.gauge .ticks{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0}

.gauge .ticks .min{
  background:#000;
  position:relative;
  left:0;
  top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(0,0,0,0) 4%,#000 4%,#000 15%,rgba(0,0,0,0) 15%);
  transform:rotate(-45deg)}

.gauge .ticks .mid{
  background:#000;
  position:relative;
  left:0;
  top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(0,0,0,0) 4%,#000 4%,#000 15%,rgba(0,0,0,0) 15%);
  transform:rotate(90deg)}
  
.gauge .ticks .max{
  background:#000;
  position:relative;
  left:0;
  top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(0,0,0,0) 4%,#000 4%,#000 15%,rgba(0,0,0,0) 15%);
  transform:rotate(225deg)}

.gauge .ticks .tithe{
  transform:rotate(calc(27deg * var(--gauge-tithe-tick) - 45deg));
  background:#000;
  position:relative;
  left:0;
  top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(0,0,0,0) 10%,#000 10%,#000 15%,rgba(0,0,0,0) 15%)}

.gauge .tick-circle{
  position:absolute;
  top:15%;
  left:15%;
  width:calc(70% - .1em);
  height:calc(70% - .1em);
  border-left:.1em solid;
  border-top:.1em solid;
  border-right:.1em solid;
  border-bottom:.1em solid transparent;
  border-radius:50%}

.gauge .needle{
  transform:rotate(calc(270deg * calc(var(--gauge-value,0deg)/ 100) - 45deg));
  background:#000;
  position:relative;
  left:0;
  top:49%;
  width:100%;
  height:4%;
  margin-bottom:-4%;
  background:linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(0,0,0,0) 24%,#000 24%,#000 30%,rgba(0,0,0,0) 50%)}

.gauge .needle .needle-head{
  position:relative;
  top:15%;
  left:22.5%;
  width:2.7%;
  height:70%;
  background-color:#000;
  transform:rotate(-45deg)}

.gauge .labels{
  position:absolute;
  width:100%;
  height:100%}

.gauge .labels .value-label{
  position:relative;
  top:75%;
  left:51%;
  width:10%;
  height:0}

.gauge .labels .value-label::after{
  counter-reset:gauge-value var(--gauge-display-value);
  content:counter(gauge-value);
  text-align:right;
  float:right;
  width:3em}

.guide-x,.guide-y{
  background-color:orange;
  visibility:visible;
  position:absolute;
  left:50%;
  top:0;
  width:1px;
  height:100%}

.guide-y{
  left:0;
  top:50%;
  width:100%;
  height:1px}

  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Two columns, first one auto-sized for Element 1, second one takes up the remaining space */
    grid-template-rows: auto; /* Rows are auto-sized */
    gap: 5px; /* Adjust the gap between grid items as needed */
    height: 70vh; /* Make the grid container take up the full viewport height *//*was 90 switched to 70vh*/
}

.grid-buttons{
  display: grid;
  grid-template-rows:auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  gap: 2px;
  height: 10vh;
}
.element {
    background-color: #ccc; /* Change the background color as needed */
    border: 2px solid black; /* Add a border for clarity */
    padding: 10px; /* Add padding for spacing */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}/*TODO fiddle with border, I like the 10px border in grey(#ccc) white matches the canvas background color.  */

.utility {
  flex-direction: row;
}
.speed {
  
  display: inline-block;
}
.text-display {
  background-color: white;
  padding: 2px;
  border-radius: 15%;
}
.element1 {
    grid-column: 1; /* Element 1 spans both columns */
    grid-row: span 4;
}

.element2 {
    grid-row: 1; /* Element 2 is in the first row */
    grid-column: 2; /* Element 2 is in the second column */
}

.element3 {
    grid-row: 2; /* Element 3 starts in the second row */
    grid-column: 2; /* Element 3 is in the second column */
}

.element4 {
    grid-row: 3; /* Element 4 starts in the third row */
    grid-column: 2; /* Element 4 is in the second column */
}

.element5 {
    grid-row: 4; /* Element 5 starts in the fourth row */
    grid-column: 2; /* Element 5 is in the second column */
}

.button0{
  grid-row: 1;
  grid-column: 1;
}
.button1{
  grid-row: 1;
  grid-column: 2;
}
.button2{
  grid-row: 1;
  grid-column: 3;
}
.button3{
  grid-row: 1;
  grid-column: 4;
}
.button4{
  grid-row: 1;
  grid-column: 5;
}
.button5{
  grid-row: 2;
  grid-column: 1;
}
.button6{
  grid-row: 2;
  grid-column: 2;
}
.button7{
  grid-row: 2;
  grid-column: 3;
}
.button8{
  grid-row: 2;
  grid-column: 4;
}
.button9{
  grid-row: 2;
  grid-column: 5;
}
.button10{
  grid-row: 3;
  grid-column: 3;
}
.button11{
  grid-row: 3;
  grid-column: 2;
}
.button12{
  grid-row: 3;
  grid-column: 3;
}

.hidden{
  display: none;
}

.canvas-container{
  width: 40vw; /* Adjust the width as needed */
  height: 90vh; /* Adjust the height as needed using viewport units (vh) */
}

.dotted-border-button {
  border: 2px dotted transparent;
  transition: border-color 0.5s;
  animation: flash 1s infinite; 
}

.dotted-border-button.selected {
  border-color: red;
}

@keyframes flash {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media (max-width: 768px) {
  .canvas-container {
      width: 300px;
      height: 400px;
  }
}

/* Media query for medium screens (adjust the values as needed) */
@media (min-width: 769px) and (max-width: 1024px) {
  .canvas-container {
      width: 450px;
      height: 600px;
  }
}

/* Media query for larger screens (adjust the values as needed) */
@media (min-width: 1025px) {
  .canvas-container {
      width: 600px;
      height: 800px;
  }
}